<div class="flex flex-col py-24 px-12 lg:flex-row lg:align-middle lg:justify-center select-none content-blur gap-16 bg-gray-200 h-2/3">
<!--  <div id="image" class="m-auto p-8 border-2 border-solid border-charcoal-500 rounded-full">-->
<!--    <div class="w-50 h-50 text-transparent">Image goes here</div>-->
<!--  </div>-->
  <div id="headline" class="m-auto w-fit flex flex-col gap-4 h-fit">
    <h1 class="text-6xl md:text-5xl lg:text-7xl font-black">
      <span class="bg-gradient-to-l from-blue-400 to-sky-800 bg-clip-text text-transparent">{{ site.data.nathantics.landingPage.headline }}</span>
    </h1>
    <p class="text-2xl">{{ site.data.nathantics.landingPage.subHeadline}}</p>
    <div class="py-2 flex gap-4">
      <a href="{{ site.data.nathantics.landingPage.cta.link }}"
        class="py-2 px-4 rounded-xl text-white border-blue-500 border-solid border-2 bg-blue-600 hover:bg-opacity-75">{{ site.data.nathantics.landingPage.cta.text }}</a>
    </div>
  </div>
</div>