<h2 class="text-5xl lg:text-6xl font-bold p-8 md:p-16 w-full">Let's start the conversation<span class="text-charcoal-500">.</span></h2>
<div class="h-fit px-8 md:px-16 mb-18">
  <div class="flex gap-4 flex-col">
    <p class="text-xl">Small changes can create big results. Let’s talk about what’s possible for your organization.</p>
    <p class="text-xl"><a class="text-blue-500 hover:cursor-pointer hover:text-blue-400" href="{{ site.data.nathantics.landingPage.cta.link }}">Book a Free 20-Minute Discovery Call</a> or send a quick message below.</p>
  </div>
</div>
