<h2 class="text-5xl lg:text-6xl font-bold p-8 md:p-16 w-full">Our focus<span class="text-charcoal-500">.</span></h2>
<div class="h-fit px-8 md:px-16">
  <div class="flex gap-4 flex-col">
    <ul class="list-disc pl-6">
      <li class="text-xl">Sales & CX Optimization</li>
      <li class="text-xl">Operational Efficiency & Process Improvement</li>
      <li class="text-xl">Leadership, Morale & Team Culture</li>
      <li class="text-xl">Neurodiversity & Inclusive Workplaces</li>
      <li class="text-xl">Change Management & Growth Strategy</li>
    </ul>
  </div>
</div>