<!-- Internal links -->
<!--<div class="flex flex-row pt-12 pb-2 p-8 gap-4">-->
<!--  <div class="m-auto">-->
<!--    <a href="/" class="text-black hover:text-gray-500 p-2">Home</a>-->
<!--    <a href="/stack" class="text-black hover:text-gray-500 p-2">My stack</a>-->
<!--    <a href="/projects" class="text-black hover:text-gray-500 p-2">My projects</a>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="flex flex-row pt-12 pb-2 p-8">-->
<!--  <div class="m-auto">-->
<!--    {% for social in site.data.socials %}-->
<!--    &lt;!&ndash; {{ include.social.name }} Link &ndash;&gt;-->
<!--    <a href="https://{{ social.url }}" target="_blank">-->
<!--      <span class="text-black">-->
<!--        <i alt="{{ social.name }}" class="fa-brands fa-{{ social.fa_icon }} fa-lg fa-fw hover:text-gray-500 p-2"></i>-->
<!--      </span>-->
<!--    </a>-->
<!--    {% endfor %}-->
<!--  </div>-->
<!--</div>-->

<div class="pb-4 pt-2">
  <p class="text-center text-charcoal-500">{{ site.data.nathantics.footer.text }}</p>
</div>